.ingrDataContainer {
  display: flex;
  position: relative;
}

.ingrImageContainer {
  display: flex;
  width: 67px;
  height: 67px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

.ingrImage {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  background-color: black;
}

.first {
  transform: translate(0, 0);
}

.second {
  position: absolute;
  transform: translate(85%, 0);
}

.third {
  transform: translate(70%, 0);
}

.fourth {
  transform: translate(55%, 0);
}

.fifth {
  transform: translate(40%, 0);
}

.sixth {
  position: relative;
  background-color: black;
  transform: translate(-60%, 0);
  opacity: 0.7;
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 1;
}

.extraValue {
  z-index: 2;
  display: block;
  width: 64px;
  margin: auto 0;
  text-align: center;
  opacity: 1;
}

@media screen and (max-width: 680px) {
  .ingrImageContainer {
    width: 32px;
    height: 32px;
  }

  .ingrImage {
    width: 28px;
    height: 28px;
  }

  .sixth {
    width: 28px;
    height: 28px;
  }

  .extraValue {
    width: 28px;
  }
}
