.container {
  display: grid;
  grid-template-rows: 1fr minmax(104px, 150px) minmax(104px, 150px);
  height: calc(100vh - 88px - 88px);
  row-gap: 39px;
}

.statusContainer {
  display: flex;
  column-gap: 36px;
  width: 100%;
}

.doneContainer {
  columns: 4 auto;
  row-gap: 8px;
  column-gap: 16px;
}

.pendingContainer {
  columns: 3 auto;
  row-gap: 8px;
  column-gap: 16px;
}

@media screen and (max-width: 1239px) {
  .container {
    row-gap: 24px;
    height: calc(100vh - 88px - 86px);
  }
  .doneContainer {
    columns: 3 auto;
  }

  .pendingContainer {
    columns: 2 auto;
  }
}

@media screen and (max-width: 680px) {
  .container {
    height: calc(100vh - 64px - 72px);
    row-gap: 24px;
  }
  .doneContainer {
    columns: 2 auto;
  }
}
