.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 96px 1fr;
  grid-template-columns: 1fr minmax(320px, 1240px) 1fr;
  justify-content: center;
}

.header {
  grid-column: 1 / -1;
}

.content {
  grid-column: 2 /3;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .container {
    grid-template-rows: 64px 1fr;
  }
}
