.container {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
}

.groups {
  overflow-y: auto;
  scrollbar-width: thin;
}

@media screen and (max-width: 1200px) {
  .container {
    height: calc(100vh - 280px);
  }
}
