.container {
  display: grid;
  grid-template-columns: minmax(320px, 600px);
  grid-template-rows: 88px 1fr;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 88px);
}

@media screen and (max-width: 1239px) {
  .container {
    grid-template-rows: 56px 1fr;
  }
}

@media screen and (max-width: 680px) {
  .container {
    grid-template-rows: 52px 1fr;
    height: calc(100vh - 64px);
  }
}
