.container {
  height: calc(100vh - 88px - 88px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.groups {
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (max-width: 1239px) {
  .container {
    height: calc(100vh - 88px - 88px - 80px);
  }
}

@media screen and (max-width: 680px) {
  .container {
    height: calc(100vh - 280px);
    height: calc(100vh - 64px - 88px - 80px);
  }
}
