.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 600px));
  grid-template-rows: 100px 1fr;
  column-gap: 40px;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 100px);
}

.title {
  grid-column: 1 / span 2;
}

@media screen and (max-width: 1239px) {
  .container {
    grid-template-rows: 100px 1fr 80px;
  }

  .title {
    grid-column: 1 / span 1;
  }
}

@media screen and (max-width: 680px) {
  .container {
    height: calc(100vh - 64px);
  }
}
