.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  column-gap: 16px;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}
