.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  column-gap: 8px;
}

@media screen and (max-width: 680px) {
  .inputContainer {
    justify-content: center;
  }
  .container {
    justify-content: flex-start;
  }
}
